<div class="container my-5" style="height: 200px; width: 500px">
    <div class="jumbotron">
        <h1>REGISTER</h1><br>
        <form class="form" action="/register" method="post" role="form" autocomplete="off">
            <div class="form-group"><input id="email" name='email' placeholder="Email" class="form-control" type="text"
                    required></div>
            <div class="form-group"><input id="password" name='password' placeholder="Contraseña" class="form-control"
                    type="password" required></div>

            <div class="form-group"><input id="username" name='username' placeholder="Username" class="form-control" type="text"
                    required></div>
            <div class="form-group"><input id="address" name='address' placeholder="Direccion" class="form-control"
                    type="text" required></div>
            <div class="form-group"><input id="age" name='age' placeholder="Edad" class="form-control" type="text"
                    required></div>
            <div class="form-group"><input id="phone" name='phone' placeholder="Teléfono" class="form-control"
                    type="text" required></div>
            <div class="form-group"><input class="btn btn-success my-3" type="submit" value="Register"></div>
        </form>
        <hr>
        <div class="text-left"><button class="btn btn-success my-3" onclick="location.href = '/login'">Ir a
                Login</button></div>
    </div>
</div>